<ul class="list-group mymenu">
	<li class="list-group-item">
		<a href="#">Điện thoại</a>
	</li>
	<li class="list-group-item">
		<a href="#">Máy tính bảng</a>
	</li>
	<li class="list-group-item"><a href="#">Tivi</a></li>
	<li class="list-group-item">
		<a href="#">Tủ lạnh</a>
	</li>
	<li class="list-group-item">
		<a href="#">Điều hòa</a>
	</li>
</ul>